<h3 style="color:Red">Transfert échoué</h3>
<h4>Un des élément suivant s'est peut-être produit:</h4>
<h5>-L'image sélectionnée est trop petite: Dimensions minimales 600 x 600</h5>
<h5>-Vous n'avez pas sélectionné de fichier</h5>
<h5>-Le fichier choisi n'est pas supporté (.jpg, .png ou .jpeg uniquement)</h5>
<h5>-Le poid maximal de la photo doit être de 25 Mo.</h5>
<h5>Sinon, veuillez @Html.ActionLink("nous contacter", "Contact", "Home") pour que nous puissions régler le problème</h5>
