@{
    ViewBag.Title = "Animaux";
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>Animaux</h2>
</div>
    @using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoAnimal in lstimage)
        {
            <img src="@PhotoAnimal" class="img-thumbnail" alt="Image inaccessible" width="36%"/>
        }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
