@{
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>Animaux</h2>
</div>
@{   
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var Photo in lstimage)
        {
           <div class="divdesimages">
                @using (Html.BeginForm("PhotoUtil", "Account", FormMethod.Post))
                {
                    <button type="submit" class="close boutonliker"><span class="glyphicon glyphicon-heart"></span></button> 
                    <img src="@Photo" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                }
            </div>  
        }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}