@{
    ViewBag.Title = "Autre";
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>Autre</h2>
</div>
@using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoAutres in lstimage)
        {
            <img src="@PhotoAutres" alt="Image inaccessible" width="36%"/>
        }
    }
    else
    {
        <span>Il n'y a pas de photos dans cette catégorie. @Html.ActionLink("Importez", "Importer", "Home") en une pour voir des photos dans cette catégorie.</span>
    }
}
