@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Téléphone</h3>
    </header>
    <p>
        <span class="label">Principal :</span>
        <span>418-836-1234</span>
    </p>
    <p>
        <span class="label">En dehors des heures d'ouverture :</span>
        <span>418-836-1235</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresse de messagerie </h3>
    </header>
    <p>
        <span class="label">Support :</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing :</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Général :</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresse</h3>
    </header>
    <p>
        Bamako inc.<br />
        Saint-Malachie, Qc, 1001 rte 277
    </p>
</section>