@{
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>Cuisine</h2>
</div>
@using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoCuisine in lstimage)
        {
            <img src="@PhotoCuisine" class="img-thumbnail" alt="Image inaccessible" width="36%"/>
        }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
