<hgroup class="title">
    <h1>Importer des photos</h1>
</hgroup>

<article>
   
   <input type=file name="photo" />
   <input type=submit  value="Importer"/>
   <label>Chemin d'accès</label><br />
   <div>
        <p>Catégorie</p>
        <input type="checkbox" name="categorie" value="Sport" />Sport      
        <input type="checkbox" name="categorie" value="Nature" />Nature<br />
        <input type="checkbox" name="categorie" value="Famille" />Famille          
        <input type="checkbox" name="categorie" value="Paysage" />Paysage<br />
        <input type="checkbox" name="categorie" value="Cuisine" />Cuisine          
        <input type="checkbox" name="categorie" value="Animaux" />Animaux<br />
   </div>
   

   <p>Se connecter</p>
   

</article>

<aside>
    <h3>Titre à part</h3>
    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Importer", "Importer", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
