@{
    ViewBag.Title = "Importer";
}
<div class="page-header">
    <h1>Importer des photos</h1>
</div>
<article>
@using (Html.BeginForm("Upload", "Importer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input class="btnchoisirfich" type="file" name="file" />
    <input type="submit" name="SubImporter" value="Importer"/>
}
    <h3 class="sub-header">Catégorie</h3>
   <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
            Sport<input type="radio" name="categorie"/>
            Nature<input type="radio" name="categorie"/>
            Famille<input type="radio" name="categorie"/>
            Autres<input type="radio" name="categorie" checked/>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
            Paysage<input type="radio" name="categorie"/>
            Cuisine<input type="radio" name="categorie" />
            Animaux<input type="radio" name="categorie">
      </div>
      
                
                
        
   </div>
</article>
