<hgroup class="title">
    <h1>Importer des photos</h1>
</hgroup>
<article>
@using (Html.BeginForm("Upload", "Importer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="file" />
    <input type="submit" name="SubImporter" value="Importer" />
}
   <div>
        <p>Catégorie</p>
        <input type="checkbox" name="categorie" value="Sport"  />Sport      
        <input type="checkbox" name="categorie" value="Nature" />Nature<br />
        <input type="checkbox" name="categorie" value="Famille" />Famille          
        <input type="checkbox" name="categorie" value="Paysage" />Paysage<br />
        <input type="checkbox" name="categorie" value="Cuisine" />Cuisine          
        <input type="checkbox" name="categorie" value="Animaux" />Animaux<br />
   </div>
   <p>Se connecter</p>
    <div id="Photo Importer" style="background-image:url(/content/Photo/souris.jpg); background-repeat:no-repeat; height:500px; width:500px"></div>

</article>

<aside>
    <h3>Titre à part</h3>
    <p>
        Indiquez des informations supplémentaires à l'aide de cette zone.
    </p>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Importer", "Importer", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
