@using (Html.BeginForm("Upload", "Importer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<hgroup class="title">
    <h1>Importer des photos</h1>
</hgroup>
<article>

    <input type="file" name="file" />
    

   <div>
        <p>Catégorie</p>
        <ol>
             <input type="radio" name="categorie" />Sport
             <input type="radio" name="categorie" />Nature
             <input type="radio" name="categorie" />Famille
             <input type="radio" name="categorie" />Paysage
             <input type="radio" name="categorie" />Cuisine
             <input type="radio" name="categorie" />Animaux
             <input type="radio" name="categorie" />Autres
        </ol>
   </div>
<input type="submit" name="SubImporter" value="Importer" />

</article>
}

