@{
    ViewBag.Title = "Page d'accueil";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h2>
                <a href="~/Home/Index">Sport</a>
                <a href="~/Home/Index">Nature</a>
                <a href="~/Home/Index">Famille</a>
                <a href="~/Home/Index">Paysage</a>
                <a href="~/Home/Index">Cuisine</a>
                <a href="~/Home/Index">Animaux</a>
                <a href="~/Home/Index">Autre</a>
            </h2>
        </div>
    </section>
}
<h3>Nous suggérons ce qui suit :</h3>
    <img src="~/Content/Photo/Desert.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Koala.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/LightHouse.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Tulips.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Hydrangeas.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Jellyfish.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Chrysanthemum.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Penguins.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Souris.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Connor.jpg" width="300px" heigth="300px" />
    <img src="~/Content/Photo/Edward.jpg" width="300px" heigth="300px" />
