@{
    ViewBag.Title = "Nature";
    var lstimage = ViewData["lstimage"] as List<string>;
}

<div class="page-header">
    <h2>Nature</h2>
</div>
    @using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoNature in lstimage)
        {
            <img src="@PhotoNature" alt="Image inaccessible" width="36%"/>
        }
    }
    else
    {
         @Html.Partial("_PasPhotoCategorie")
    }
}
