@{
    ViewBag.Title = "Sport";
    var lstimage = ViewData["lstimage"] as List<string>;
}

<div class="page-header">
    <h2>Sport</h2>
</div>
@using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoSport in lstimage)
        {
            <img src="@PhotoSport" alt="Image inaccessible" width="36%"/>
        }
    }
}
