@{
    ViewBag.Title = "Transfert Échoué";
}
<div class="page-header">
    <h1>Tranfert échoué</h1>

    <span>Un des élément suivant s'est peut-être produit:</span>
    <br /><br />
    <span>-Vous n'avez pas sélectionné de fichier</span>
    <br />
    <span>-Le fichier choisi n'est pas supporté (.jpg ou .png uniquement)</span>
    <br/>
    <span>Cliquez ici pour retourner à la page<a href="/Home/Importer"> importer</a></span>
    <br /><br />
    <span>Sinon, veuillez <a href="/Home/Contact">nous contacter</a> pour que nous puissions régler le problème</span>
</div>
