@{
    ViewBag.Title = "UploadDocument";
}

<h1>Tranfert réussi</h1>
<br />
<ul>
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Importer", "Importer", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
