.divdesimages
{
    width:45%;
    display:inline-block;
    position:relative;
}
.divdesprofil
{
   display:inline-block;
   width:45%; 
}

.boutonsupprimer
{
    float:right;
    position:absolute;
    right:1%;
    top:2%;
}

.boutonliker
{
    position:absolute;
    float:left;
    left:2%;
    bottom:2%;
}

.menulorsquepetit
{
    padding-left:2%;
}

.boutonediter
{
    float:right;
    position:absolute;
    right:2%;
    bottom:3%;
}

.btnchoisirfich
{
   border: 1px solid #e2e2e2;
   background: #fff;
   color: #333;
   font-size: 1.2em;
   margin: 5px 0 6px 0;
   padding: 5px;
   width: 450px;
}
    
.menucotegauche
{
   padding-top:60px;
   position:fixed;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;   
}
    
.menucotegauche > li {
  position: relative;
  display: block;
  color:#777;
}
.menucotegauche > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color:#777;
}
.menucotegauche > li > a:hover,
.menucotegauche > li > a:focus {
  text-decoration: none;
  color:#fff
}

.sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 2%;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #101010;
border-right: 1px solid #eee;
}
