<h3 style="color:Red">Transfert échoué</h3>
<span>Un des élément suivant s'est peut-être produit:</span>
<br/>
<span>-Vous n'avez pas sélectionné de fichier</span>
<br />
<span>-Le fichier choisi n'est pas supporté (.jpg, .png ou .jpeg uniquement)</span>
<br/>
<span>Sinon, veuillez @Html.ActionLink("nous contacter", "Contact", "Home") pour que nous puissions régler le problème</span>
