@{
    ViewBag.Title = "Vos Photos";
    var lstimage = ViewData["lstimage"] as List<string>;
}
@{ 
    <div class="page-header">
        <h2>Vos photos</h2>
    </div>
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoUtil in lstimage)
        {
            <div class="divdesimages">
            @using (Html.BeginForm("PhotoUtil", "Account", FormMethod.Post))
            {
                    <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="100%"/>
                    <button type="submit" class="close boutonsupprimer"><span class="glyphicon glyphicon-remove"></span></button>
                    @Html.Hidden("Image", PhotoUtil)
            }
            </div>
        }
    }
}
