@{
    ViewBag.Title = "Vos Photos";
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>Vos photos</h2>
</div>
@using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoUtil in lstimage)
        {
            <div style="width:35%">
               <img src="@PhotoUtil" class="img-thumbnail" alt="Image inaccessible" width="89%"/><button type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        }
    }
}
