@{
    var lstimage = ViewData["lstimage"] as List<string>;
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using(Html.BeginForm()){
    if (lstimage != null && lstimage.Count > 0)
    {
        foreach (var PhotoUtil in lstimage)
        {
            <img src="@PhotoUtil" alt="Image inaccessible" width="36%"/>
        }
    }
}
