@{
    ViewBag.Title = "Profil";
}
<div class="page-header">
    <h2>Profil</h2>
</div>
<div>
    <a href="~/Account/Manage">Modifier le mot de passe</a>
</div>  
<div>
  <a href="~/Account/PhotoUtil">Vos photos</a>
</div>
