@{
    ViewBag.Title = "Profil";
}
<div class="page-header">
    <h2>Profil</h2>
</div>
<div>
    @Html.ActionLink("Modifier le mot de passe","Manage","Account")
</div>  
<div>
    @Html.ActionLink("Vos photos", "PhotoUtil", "Account", new { nom = User.Identity.Name },null)
</div>
