@{
    ViewBag.Title = "ProfilUtil";
    var NomProfil = ViewData["Rechercher"] as PhotoFun.Models.ProfilModel;
}
<div class="body">
    @Html.Label(NomProfil.IdUtilRechercher)
    @Html.Label(NomProfil.NbAbonnement.ToString())
</div>