@{
    ViewBag.Title = "Profil recherché";
    var NomProfil = ViewData["Rechercher"] as List<PhotoFun.Models.ProfilModel>;
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@foreach (PhotoFun.Models.ProfilModel util in NomProfil)
{
    <div class="divdesprofils">
    @if (util.IdUtilRechercher != "Utilisateur Inexistant")
    {
        <div class="col-xs-8 col-sm-6 col-md-2">
		    @{
                var requeteUtilBD = new PhotoFun.Models.RequeteUtilBD();
                var image = "";
                image = requeteUtilBD.ExtrairePhotoProfil(util.IdUtilRechercher);
                if(image!="")
                {
                    <img src="@image" alt="Image inaccessible" class="img-thumbnail" width="100%"/>
                }
                else
                {
                    <img src="/Images/defautPhoto.jpg" alt="Image inaccessible" class="img-thumbnail" width="100%"/>
                }
             }
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6">
            <h3><a href="/Account/ProfilUtil?nomUtil=@util.IdUtilRechercher" id="nomUtil">@util.IdUtilRechercher</a></h3>
        </div>
    }
    else
    {
        <h3>Utilisateur Inexistant</h3>
    }
    </div>
}
